# Node modules
node_modules/
node_modules
.env
# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor folders
.vscode/
.idea/

# Coverage reports
coverage/

# Next.js
.next/

# Parcel
.cache/

# React Native
android/
ios/

# TypeScript cache
*.tsbuildinfo

# Optional
*.log
